{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'UserDashboard/css/style.css' %}">
</head>
<body>
        <header id="masthead" class="site-header" role="banner">

                <div class="site-branding">
                                <p class="site-title"><a href="https://neue.demo.wearekllr.com/demo2/" rel="home">Look Back Story</a></p>
                    
                        </div><!-- .site-branding -->
            
                    <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
            
                <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul id="menu-primary" class="nav navbar-nav"><li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-123 current_page_item menu-item-137 active"><a title="Home" href="https://neue.demo.wearekllr.com/demo2/">Home</a></li>
                <li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a title="Work" href="https://neue.demo.wearekllr.com/demo2/work/">Work</a></li>
                <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a title="About" href="https://neue.demo.wearekllr.com/demo2/about/">About</a></li>
                <li id="menu-item-1713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1713"><a title="Blog" href="https://neue.demo.wearekllr.com/demo2/blog-2/">Blog</a></li>
                <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a title="Contact" href="https://neue.demo.wearekllr.com/demo2/contact/">Contact</a></li>
            </ul>
        </div>		    
        </div>
        </nav>
            
        </header> <!-- #masthead -->
</body>
</html>