{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="content" class="uk-padding-small">
        
        <!-- Heading -->
        <head class="uk-head">
            <div class="uk-container">
                <div class="uk-text-center md-heading">
                    <h3 class="uk-heading-primary">Look Back Story</h3>
                </div>
            </div>
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Home</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </head>
        <!-- End Heading -->

        <!-- Content -->
        <div class="uk-container">
            <div class="uk-container-large">
                <div class="uk-padding intro-text">
                    <p class="uk-text-center uk-margin-right uk-margin-left">
                        Guy’s a pro. There’s so many poorly chosen words in that sentence. Did you enjoy your meal, Mom? You drank it fast enough. I hear the jury’s still out on science. I’m half machine. I’m a monster.
                    </p>
                </div>
            </div>
            
            <div class="uk-padding">
                <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid uk-height-match="target: > a > img">
                    {% for book in books %}
                    
                        <a href="{% url 'view_book_detail' book.id %}">
                            <img class="uk-responsive-height uk-responsive-width" src= {{book.book_cover.url}} alt= {{book.book_title}}>
                         </a>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-padding">
                <div class="uk-text-center">
                    <button class="uk-button uk-button-default uk-button-large">View All Work</button>
                </div>
            </div>
        </div>
        <!-- End Content -->
        
    </div>
{% endblock %}