
body, body > div {
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

p{
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6em;
}

.intro-text > p {
	font-size: 22px;
}

/*Heading*/
.md-heading {
	padding: 40px 0px 25px 0px;
	margin: 0 0;
}

.md-heading > h3 {
	font-size: 40px;
	font-family: "Kaushan Script", "Comic Sans MS", cursive, sans-serif;
}

/*Navbar*/

.uk-navbar-container {
	background-color: #ffffff !important;
}

/*Button*/
button.uk-button.uk-button-default {
	border: 2px solid #000;
}

button.uk-button.uk-button-default:hover {
	color: white;
	background-color: #000;
}